* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Pale-blue);
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
  /* color: #333; */
  font-size: 18px;
  min-height: 100vh;
  line-height: 1;
  display: grid;
  place-content: center;
}

/*All Colors*/
:root {
  /*Primary Color*/
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /*Natural Color*/
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /*Gradient Color*/
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
}

.xlg-text {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 0.5rem;
}

.lg-text {
  font-size: 1.5rem;
  font-weight: 500;
}
.med-text {
  font-size: 1.15rem;
  font-weight: 700;
}

.sm-text {
  font-size: 0.95rem;
  font-weight: 600;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}

.container .card:nth-child(1) {
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  box-shadow: 0px 20px 30px hsla(224, 30%, 27%, 0.267);
  color: var(--White);
  border-radius: 1.5rem;
  padding: 30px 50px;
  flex-direction: column;
  place-items: center;
  align-items: center;
  text-align: center;
  height: 95%;
  width: 100%;
  z-index: 1;
}

.container .card:nth-child(1) .lg-text {
  font-weight: 700;
  /* font-size: 20px; */
}

#result-card-p {
  color: var(--Light-lavender);
  margin: 0;
  line-height: 1.5rem;
  /* max-width: 300px; */
}

.container .score-circle {
  background: linear-gradient(
    to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

#score-circle-p {
  margin: 0;
  color: var(--Light-lavender);
}

.container .card:nth-child(2) {
  background-color: var(--White);
  border-radius: 1.5rem;
  padding: 30px;
  padding-bottom: 40px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translateY(-40px);
  position: relative;
}

.card:nth-child(2) .med-text {
  margin-bottom: 0;
}

.card .item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 13px 15px;
  /* width: 100%; */
  background-color: var(--Violet-blue-circle);
  border-radius: 10px;
}

.score-unit {
  margin-left: auto;
}

.card:nth-child(1) .med-text {
  color: var(--Light-lavender);
}

.card .item.reaction {
  background-color: hsla(0, 100%, 67%, 0.112);
}
.card .item.memory {
  background-color: hsla(39, 100%, 56%, 0.125);
}
.card .item.verbal {
  background-color: hsla(166, 100%, 37%, 0.093);
}
.card .item.visual {
  background-color: hsla(241, 100%, 89%, 0.341);
}
.item.reaction .sm-text {
  color: var(--Light-red);
}
.item.memory .sm-text {
  color: var(--Orangey-yellow);
}
.item.verbal .sm-text {
  color: var(--Green-teal);
}
.item.visual .sm-text {
  color: var(--Cobalt-blue);
}

.card .item .all-over {
  color: hsla(224, 30%, 27%, 0.682);
  font-weight: 600;
}

.continue-btn {
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  border-radius: 1.5rem;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.continue-btn:hover {
  background: linear-gradient(
    to bottom,
    var(--Violet-blue-circle),
    var(--Light-royal-blue-background)
  );
  /* opacity: 0.8; */
  /* background: linear-gradient(to bottom, var(--Violet-blue-circle), var(--Persian-blue-circle)); */
}

@media (min-width: 768px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;

    align-items: flex-start;
  }

  .container .card:nth-child(1) {
    background: linear-gradient(
      to bottom,
      var(--Light-slate-blue-background),
      var(--Light-royal-blue-background)
    );
    color: var(--White);
    border-radius: 1.5rem;
    padding: 30px 40px;
    flex-direction: column;
    place-items: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    min-height: 100%;
    z-index: 1;
  }

  .container .card:nth-child(2) {
    background-color: var(--White);
    box-shadow: 0px 10px 40px hsla(224, 30%, 27%, 0.267);
    border-radius: 1.5rem;
    padding: 30px 30px;
    padding-left: 70px;
    /* padding-top: 45px; */
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    max-width: 350px;
    min-height: 100%;
    overflow: hidden;
    transform: translateX(-40px);
    position: relative;
  }

  .card .item {
    padding: 13px 15px;
    width: 100%;
  }

  .card:nth-child(2) .med-text {
    margin: 0;
    padding-bottom: 10px;
  }

  .continue-btn {
    margin-top: 15px;
  }

  .container .score-circle {
    background: linear-gradient(
      to bottom,
      var(--Violet-blue-circle),
      var(--Persian-blue-circle)
    );
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .card:nth-child(1) .med-text {
    /* padding: 0px 50px; */
    margin: 0;
    margin-bottom: 30px;
  }

  #result-card-p {
    color: var(--Light-lavender);
    margin: 0;
    line-height: 1.2rem;
    margin-bottom: 25px;
  }
}

footer {
  margin-top: 20px;
}
